.produtoWrapper {
  margin-top: 10%;
  padding-top: 60%;
  padding-bottom: 5%;
  z-index: 0;
  position: relative;
}

.prodImgWrapper {
  width: 70vw;
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 0;
}
.prodImgWrapper img {
  width: 100%;
}

.prodTextWrapper {
  background-color: #ffffff;

  font-family: poppins;

  width: 73%;
  padding: 5%;
  margin-left: 5%;

  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prodTextWrapper h1 {
  font-weight: 500;
  font-size: 1.5rem;
}
.prodTextWrapper p {
  width: 95%;
  font-weight: 300;
}
